:root {
    --title-height: 24%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: #ffecec;
}

#title {
    text-align: center;
    width: 100%;
    position: fixed;
    background-color: #ffd0d0;
    margin: 0;
    top: 0;
    left: 0;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem;
    color: #b12626;
    text-align: center;
    margin: 0;
}

#moon-box {
    display: flex;
    width: 60%;
    justify-content: space-between;
    margin-left: 20%;
}

.left-moon {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: -25px 10px 0px 0px #881616;
  }

  .right-moon {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 25px 10px 0px 0px #881616;
  }

#link-container p {
    margin: 0;
}

p {
    font-family: 'Inconsolata', monospace;
    color: #c04343;
}

.holder {
    overflow: hidden;
    position: relative;
    width: 40%;
    height: 50px;
    margin-left: 25%; /* change this for length of wiggly */ 
    top: 30px;
  }
  
  .ellipse {
    position: absolute;
    background: radial-gradient(ellipse, transparent, transparent 7px,  7px, #881616 10px, transparent 11px);
    background-size: 36px 40px;
    width: 100%;
    height: 20px;
  }
  
  .ellipse2 {
    top: 20px;
    left: 18px;
    background-position: 0px -20px;
  }

#project-table {
    margin-top: 18%;
}

.project-row {
    display: flex;
    width: 50%;
    align-content: center;
    justify-content: space-evenly;
    margin-left: 22%;
}

.icon-container {
    display: flex;
    width: 10rem;
 
}

.icon {
    font-size: 10rem;
}

#lobster:hover + #lobster-description, #lobster-description:hover {
    display: flex;
}

#blem:hover + #blem-description, #blem-description:hover {
    display: flex;
}

#dream-machine:hover + #dream-machine-description, #dream-machine-description:hover {
    display: flex;
}

#simp-bot:hover + #simp-bot-description, #simp-bot-description:hover {
    display: flex;
}

.description {
    display: none;
    font-size: 2.5rem;
    font-family: 'Inconsolata', monospace;
    text-transform: uppercase;
    text-overflow: break-word;
    color: #b12626;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 0 15px 10px rgba(255, 255, 255, 0.4);
    width: 10rem;
    height: 10rem;
    position: relative;
    left: -13rem;
    top: 1.5rem;
    padding: 1rem 2rem;
    align-items: center;
    text-align: center;
}